.container{
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cadastro{
    width: 50%;
    background-color: yellow;
    padding: 25px 0;
}

.teste{
    background-color: black;
    padding: 50px;
}

.btn{
    width: 100%;
}